@import "../utils/styles/mixins.scss";

.image {
  @include dFlex(inline-block, center, center);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
